In [5]:
# azureml-core of version 1.0.72 or higher is required
# azureml-dataprep[pandas] of version 1.1.34 or higher is required
from azureml.core import Workspace, Dataset
# Import the model we are using
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
import argparse

subscription_id = 'd4ad7261-832d-46b2-b093-22156001df5b'
resource_group = 'aml-quickstarts-174021'
workspace_name = 'quick-starts-ws-174021'

workspace = Workspace(subscription_id, resource_group, workspace_name)

dataset = Dataset.get_by_name(workspace, name='divorce-ds')
df = dataset.to_pandas_dataframe()
df = df.sample(frac=1)

,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,...,Q46,Q47,Q48,Q49,Q50,Q51,Q52,Q53,Q54,Divorce
165,0,0,0,0,0,0,0,0,0,0,...,1,0,4,1,1,4,2,2,2,0
112,0,0,0,0,1,0,0,0,0,0,...,3,3,2,1,1,1,1,1,1,0
27,3,3,3,4,3,1,1,3,3,4,...,4,4,4,4,4,4,4,4,4,1
42,3,4,3,3,3,0,1,4,3,3,...,4,3,4,3,3,4,3,4,3,1
141,0,1,2,0,0,0,0,0,0,1,...,1,0,2,1,1,1,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,2,2,1,1,1,1,0,0,0,0,...,2,1,2,3,2,2,2,1,0,1
64,3,3,4,4,3,1,1,3,4,4,...,3,3,3,3,3,3,3,3,3,1
36,4,3,3,3,4,1,0,3,3,3,...,4,3,4,4,3,3,4,4,3,1
110,0,0,0,0,0,0,0,0,0,0,...,3,0,2,3,3,2,1,0,0,0
133,1,2,0,0,0,0,0,0,0,0,...,2,1,2,2,2,2,2,1,0,0

In [ ]:
run = Run.get_context()

In [7]:
x = df.iloc[:,:-1]
y = df.iloc[:,-1]

165    0
112    0
27     1
42     1
141    0
      ..
4      1
64     1
36     1
110    0
133    0
Name: Divorce, Length: 170, dtype: int64

In [8]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(136, 54)
(34, 54)
(136,)
(34,)

In [10]:
parser = argparse.ArgumentPrase()

# Instantiate model with 1000 decision trees
rf = RandomForestRegressor(n_estimators = 1000, random_state = 42)
# Train the model on training data
rf.fit(X_train, y_train);

In [14]:
print('Score:', rf.score(X_test, y_test))

Score: 0.9317311135531136